
@if(!_isUser())
{
  
    <app-login (isUser)="isAnUser($event)"></app-login>
}
@else 
{
  <body>
    <div class="navbar">
        <div class="logo">
          <a routerLink="Survey">Survey</a>
        </div>
        <div class="nav-links">
            <a class="nav-item username">
                {{ _isUser()?.firstName }} {{ _isUser()?.lastName }}
            </a>
            @if(_isUser()?.role === 0)
            {
              <a class="add-user-button" routerLink="AddNewUser">
                  <i class="fas fa-user-plus"></i> Add User

              </a>
            }
            @if(_isUser()?.role === 0 || _isUser()?.role===2)
            {
              <a class="nav-item">Add new Question</a>
            }
            
            <a class="nav-item">View Questions</a>
        </div>
    </div>
    <div class="container">
      <router-outlet></router-outlet>
    </div>

    <footer class="footer">
        &copy; 2025 MeineApp. Alle Rechte vorbehalten. | <a href="#">Impressum</a>
    </footer>
</body>

  
}
