
@if(!_isUser())
{
    <app-login (isUser)="isAnUser($event)"></app-login>
}
@else 
{
  <body>
    <div class="navbar">
        <div class="logo">Survey</div>
        <div class="nav-links">
            <a class="nav-item username">
                {{ _isUser()?.firstName }} {{ _isUser()?.lastName }}
            </a>

            <!-- Neuer Reiter: Benutzer hinzufügen -->
            <a class="add-user-button" >
                <i class="fas fa-user-plus"></i> Add User
            </a>

            <!-- Neuer Reiter: Alle Fragen anzeigen -->
            <a class="nav-item">View Questions</a>
        </div>
    </div>

    <div class="container">
        <app-survey-box [questions]="surveyQuestions()"></app-survey-box>
    </div>

    <footer class="footer">
        &copy; 2025 MeineApp. Alle Rechte vorbehalten. | <a href="#">Impressum</a>
    </footer>
</body>

  
}
